.bio
{
    font-size:  25px;
}

.line > * {
    display: inline-block;
    text-align: left;
    
}
.line{
    width: 100%;
}
.mainColor{
    color: #A09273;
  }
 

 
#lolo
{
    content: '';
  display: inline-block;
  vertical-align:middle;
  border-bottom:1px solid #A09273;
  width: 65%;
}