.card-body
{
    padding-top: 10px;
}

.card-body h4
{
    font-family: 'Cairo', sans-serif;
    text-align: right;  
    color: rgb(160,146,117);
}
.card-body i
{
    font-size:20px;
    color:#b2b2b2;
    margin-left:20px;
    padding-top:10px;
}
.mainColor{
    color: #A09273;
  }
  .gray{
        color: #C3C3C3;
  }
  .line > * {
    display: inline-block;
    text-align: left;
}

#logo
{
    position: absolute;
  left: 0px;
  height: 150px;
  width: auto;
  bottom: 0px;
  max-height: 100%;
}
.border
{
    border:1px solid #A09273;
    padding: 15px;

}
