.cardHead{

padding: 0;
background-color: white;
width:100%;
margin-top: 10px;
margin:"0 300 0 5";
height:"930px";

}

.Mycardss{
    background: #fff;
    border: #b2b2b2 1px solid;
   
}
.card-body
{
    padding-top: 10px;
    text-align: right;
    
    
}
.MYcard-body {
    margin-top: 15px;
    margin-bottom: 30px; 
}
.card-body h4
{
    font-family: 'Cairo', sans-serif;
    text-align: right;  
    color: rgb(160,146,117);
}
.card-body i
{
    font-size:20px;
    color:#b2b2b2;
    margin-left:20px;
    padding-top:10px;
}
.line > * {
    display: inline-block;
    text-align: left;
}
.mainColor{
    color: #A09273;
  }
  #MYlogo
{
    position: absolute;
  left: 0px;
  height: 150px;
  width: auto;
  bottom: 0px;
  max-height: 100%;
}
.main-card-artical{
    margin-top: 80px;
    text-align: justify;
    

}
.cardHead{
    height: 1075px;
    margin-top: 50px;
    margin-bottom: 200px;
}