
.myHeader
{
    background-color: white;
    padding: 0 180px;
    direction: ltr;
    position: fixed;
    z-index: 1;
    margin: 0px;
    top: 0;
    width: 100%;
}
.myHeader i
{
    color:#b2b2b2;
    margin-left: 20px;
}
.myHeader .navbar-left li
{
    margin-right: 30px;
    font-size: 15pt;
    font-family: "Cairo", sans-serif;
    font-style: normal;
}
.myHeader .navbar-left li a
{
    color: #a6a6a6;
}
.myA
{
    background-color : #a09275;
    border-radius: 10px;
    padding : 3px 15px;
}