.footer
{
    background-color : inherit;
    text-align: right; 
    border: none;
/*    padding-left: 40px;   */
}

.footer h4
{
    font-size: 20pt;
    color:  rgb(160,146,117);
}

.footer p
{
    font-size: 14pt;
    color: #5a5a5a;
    padding-top: 1px;
    font-family: "Cairo", sans-serif;
    font-style: normal;
}

.footerbtn
{
    
    background-color : inherit;
    border: 1px solid  #b2b2b2;
    border-radius: 15px;
    color : #b2b2b2;
    padding: 3px 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 18px;
}

.padd
{
    padding:  0px;
    
}
.AppFooter
{
    padding-top: 10px;
}