.bio
{
    font-size:  25px;
}

.line > * {
    display: inline-block;
    text-align: left;
    
}
.line{
    width: 100%;
}
.mainColor{
    color: #A09273;
  }
  .gray{
        color: #C3C3C3;
  }

  .move
{
    
    font-size: 1em;
    text-align:  center;
    margin:  0px;
    padding: 0px;
    
    

}
#lolo
{
    content: '';
  display: inline-block;
  vertical-align:middle;
  border-bottom:1px solid #A09273;
  width: 70%;
}