#mosque-container-home{
    position: relative;
    padding: 0;
    color:#969696;
    margin-top:70px;
      
  }
  #homequote{
    margin-top: 15px;
    text-align: center;
    margin-right: 260px;
    font-size: 20px;
   
  }
  #home-logo{
    width: 130px;
    height: 135px;
  }
  #mosque{
  
      width: 100%;
      height:500px;
      
    filter:opacity(20%) grayscale(80%);
  }
  
  #mosque1{
  
    height: 500px;
      width: 100%;
    filter:opacity(20%) grayscale(80%);
  }
  #logo
  {
      position: absolute;
    left: 0px;
    height: 150px;
    width: auto;
    bottom: 0px;
    max-height: 100%;
  }
  #mus-on-mosque-cont{
    position: absolute;
    left: 0px;
    height: 330px;
    width: 50%;
    bottom: 0px;
    max-height: 100%;
  }
  
  #mus-on-mosque-cont >img{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    left: 60px;
  }
  
  #saying-container{
    position: absolute;
    right: 0px;
    height: 330px;
    width: 50%;
    bottom: 0px;
    max-height: 100%;
    overflow:visible;
    font-weight: 600;
      /* margin-right: 107px; */
  }
  
  #saying-container > p{
    margin: 0;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.6vw;
    top:25%;
    right: 10%;
    max-width: 100%;
    max-height: 100%;
  }
  #saying-container > p:nth-child(2){
      color: #b3a893;
      font-size: 1.2vw;
      right: 30%;
      top:29%;
  }
  