
.mainPart404{
   
	background: url(../Error404/alazher.PNG) no-repeat 0px 0px;
    background-size: cover;
    font-family: 'Cairo', sans-serif;
     opacity: 0.5;
    filter: alpha(opacity=50);
    margin: 0;
    padding: 0;

}
.text1{
font-size: 15px;
text-align: center;
margin-top: 50px;
}
.back{
text-decoration:none;
color:#999966;
font-weight: bold;
font-size: 30px;
text-align: center;

}

.Message404{
    color:#999966;
    font-size: 250px; 
    margin:0;
    text-align: center;
    margin-bottom: 40px;
    height: 270px;
    margin-top: 50px;
}
.notfound{
    margin-bottom: 20px;
    font-size: 18px;
    color:#999999;
    font-weight:bolder;
    
}
.notfoundMessage{
    font-size: 15px;
    color:#999999;
}
