
.row 
{
	direction: rtl;
}




.seraZatia  {
margin-top: 150px;
}

#hr{

border-top:1px solid  rgb(172,172,172); 
margin-top: 3%;

}


.hint2  {
margin-top: 50px;
margin-bottom: 100px;
}
.button{

    background-color: white;
    border: 25px;
    color: #dadada;
    padding: 5px 15px;
    font-size: 10px;
    font-family: "Cairo", sans-serif;
	font-weight: bold;
	direction: rtl;
	text-align: right;
}
.seearch{
background-color: #ececec;

}

.thumbnail p{
font-size: 10px;
line-height: 15px;
color: rgb(172,172,172);
font-family: "Cairo", sans-serif;
font-weight: bold;
direction: rtl;
text-align: right;
}

.thumbnail img{
width: 250px;
height: 230px;
margin-top: -4px;
margin-left: -5px;
}

#x{
	color: #d1d1d1;
	margin-left: 5px;

}

.hint2 hr{
border:0; 
  border-top:5px bold #083972;
}

.img-responsive{

	height: 50px;
	width: 150px;
	color: #9f9175;
}




.words{
	margin-top: 15px;
direction: rtl;
text-align: right;
}

.words h3 {
font-size: 16px;
line-height: 30px;
color:#a09275;
font-family: "Cairo" , sans-serif;
font-weight: bold;

}

.words p {
font-size: 16px;
line-height: 26px;
color: rgb(172,172,172);
font-family: "Cairo", sans-serif;
font-weight: bold;
}

.imagefooter{
	margin-top: 50px;


}
.backGround img{
	position: absolute;
	opacity: 0.15;


}


.islamic{
	position: absolute;
	max-width: 1640px;
	max-height: 300px;
	background-color: #ffffff;
}



.personImage{

	width: 300px ;
	position:relative;
	filter:grayscale(100%);
	height: 300px;
}



