.cardss2{
    background: #fff;
    margin: 20px 5px 5px 10px;
    height: 325px;
    
}
.line > * {
    display: inline-block;
    text-align: left;
}
.mainColor{
  color: #A09273;
}
.mybutton
{
    background-color : inherit;
    border: 1px solid  #b2b2b2;
    color : #b2b2b2;
    padding: 3px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
  
}
.card-text{
    overflow-y:hidden;
    height: 70px;    
}
