.row 
{
	direction: rtl;
}

.SearchApp
{
    margin-top: 75px;
    background-color: #ececec;
    padding-top: 25px;
}


.seraZatia  {
margin-top: 150px;
}
.img-responsive{

	height: 50px;
	width: 150px;
	color: #9f9175;
}
#hr{

    border-top:1px solid  rgb(172,172,172); 
    margin-top: 3%;
    
    }