body{
    font-family: 'Cairo', sans-serif;
   background-color: #ececec	;
   
   }
   .contact-part{
       background-color: #ececec	;
   
   }
   footer {
         background-color: #f2f2f2;
         padding: 25px;
    }
   
   .callus{
      color:#999966;
     text-align:right;
       font-size: 30px;
       margin-top: 30px;
       margin-bottom: 10px;
         margin-left: 10px;
   }
   .callus-Text{
       margin-right: 100px;
   
   }
   .callus-Text::before {
       display: inline-block;
       content: "";
       border-top: .2rem solid #cccccc;
       width: 802px;
       margin-right: 50px;
   
       transform: translateY(-1rem);
   }
   ::-webkit-input-placeholder {
      text-align: right;
   }
   
   :-moz-placeholder { /* Firefox 18- */
      text-align: right;
   }
   
   ::-moz-placeholder {  /* Firefox 19+ */
      text-align: right;
   }
   
   :-ms-input-placeholder {
      text-align: right;
   }
   .form-control{
   
   }
   textarea {
   
       border:none;
       resize: none;
   }
   
   #meassage{
        height:150px;
        border-radius: 0;
   }
   #Name ,#Email{
       border-radius: 0;
       height: 25px;
   
   }
   .topHeaders{
       font-size: 20px;
       color:#999966;
       font-family: 'Cairo', sans-serif;
   
   }
   .ourPlace{
       font-size: 20px;
       color:#999966;
       font-family: 'Cairo', sans-serif;
       margin-right: 104px;
   }
   .form{
       margin-right: 80px;
   
   }
   
   .send-btn{
       background-color: #999966;
       color: white;
       width: 80px;
       height: 32px;
       border: none;
       border-radius: 0;
       font-weight: bold;
       font-family: 'Cairo', sans-serif;
   
   }
   .send-btn:hover{
       background-color:#cccccc;
       color: black;
   
   
   }
   .call-info{
       margin-top: 0px;
       text-align: right;
       padding: 0;
       margin-left: 190px;
       font-family: 'Cairo', sans-serif;
   
   
   }
   
   .form-part{
       text-align: right
   }
   .contact_details_herder{
       color:#999966;
       font-size: 16px;
       font-family: 'Cairo', sans-serif;
   
   
   }
   .info{
       color:#666666;
       font-size:13px;
        font-family: 'Cairo', sans-serif;
   }
   .map{
   
       height: 330px;
       margin-bottom: 30px;
       width: 941px;
       margin-left: 111px
   }
   
   .mostsher-words{
       
       background-size: cover;
       font-family: 'Cairo', sans-serif;
       height: 390px;
       background-color: white;
       margin-bottom: 0px;
       width: 100%;
   }
   
   
   
   /*********** mosque picture 
   background: url(../image/alazher.PNG) no-repeat 0px 0px;
   ****************/
   
   #mosque-container{
     position: relative;
     padding: 0;
     color:#969696;
   }
   #mosque{
     max-height: 100%;
     max-width: 100%;
     filter:opacity(20%) grayscale(80%);
   }
   #mus-on-mosque-cont{
     position: absolute;
     left: 0px;
     height: 330px;
     width: 50%;
     bottom: 0px;
     max-height: 100%;
   }
   
   #mus-on-mosque-cont >img{
     max-height: 100%;
     max-width: 100%;
     position: relative;
     left: 60px;
   }
   
   #saying-container{
     position: absolute;
     right: 0px;
     height: 330px;
     width: 50%;
     bottom: 0px;
     max-height: 100%;
     overflow:visible;
     font-weight: 600;
   }
   
   #saying-container > p{
     margin: 0;
     margin-bottom: 1rem;
     position: relative;
     font-size: 1.6vw;
     top:25%;
     right: 10%;
     max-width: 100%;
     max-height: 100%;
   }
   #saying-container > p:nth-child(2){
       color: #b3a893;
       font-size: 1.2vw;
       right: 30%;
       top:29%;
   }
   