.newsHeader1
{
    
    background-size: 100%;
    border: none;
    margin-top:85px;
}

.newsHeader2
{
     
    background-size: 100%; 
    border: none;
    margin-top:85px;
}

.newsContent
{
    bottom: 0;
    left:0;
    position: absolute;
    opacity:0.8;
    background-color: white;
    width: 100%;
    height: 160px;  
    
}
.newsHeader2 .newsContent
{
    opacity:1;
    background-color: #968c72;
}
.newsContent h4
{
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    color : #a09275;
    text-align: center;
    padding-top: 45px;
    padding-right: 15px;
    
}
.newsHeader2 .newsContent h4
{
    color: white;
}
.newsContent p
{
    font-size: 12px;
    color:#b2b2b2;
    text-align: right;
    padding-right: 30px;
}
.newsHeader2 .newsContent p
{
    color: white;
}