.cardss{
    background: #fff;
    margin: 5px 10px 5px;
}
.card-body
{
    padding-top: 10px;
    text-align: right;
    
    
}
.card-bodyM {
    margin-top: 15px;
    margin-bottom: 30px; 
}
.card-body h4
{
    font-family: 'Cairo', sans-serif;
    text-align: right;  
    color: rgb(160,146,117);
}
.card-body i
{
    font-size:20px;
    color:#b2b2b2;
    margin-left:20px;
    padding-top:10px;
}
.line > * {
    display: inline-block;
    text-align: left;
}
.mainColor{
    color: #A09273;
  }
  #logo
{
    position: absolute;
  left: 0px;
  height: 150px;
  width: auto;
  bottom: 0px;
  max-height: 100%;
}