#media-slider{
  width: 52%;
  height: 75%;
  max-height: 75%;
  margin-top: 97px;
  display: flex;
}
#media-slider-container{
  background-color: white;
  height: 560px;
  display: flex;
}
#carouselExampleControls , .carousel-inner{
  display: flex;
  height: 100%;
  width: 100%;
}
#carouselExampleControls:hover{
  /*box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);*/
}
.carousel-item > img , .carousel-item{
  max-height: 100%;
  height:100%;
}
@media screen and (max-width: 1000px) {
  #media-slider{
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  #media-slider{
    width: 80%;
    height: 70%;
    max-height: 70%;
  }
}
@media screen and (max-width: 400px) {
  #media-slider{
    width: 85%;
    height: 62%;
    max-height: 70%;
  }
}
