/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width:15%;
    position: relative;
    right: 11%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.w3-content{
  width:37vw;
  max-height: 75%;

  margin:30px 0px 50px 0px;
}
.slides-img{
  width:100%;
  max-height: 100%;
  height: 390px;
}
.w3-button{
  background-color: rgba(0,0,0,0.3)!important;
  color: #bea974 !important;
  font-size: 1.8rem;
}
#modal-slider-container{
  max-width:65%;
  padding-right: 12%;
}
#Modal-slider-description{
  color: #a09275;
  font-size: 1rem;
  width: 56%;
}
#modal-slider-counter{
  font-size:2rem;
  color:#a09275;
  margin-left: 14px;
}
#modal-info-container{
  max-width:35%;
  margin-top: 28px;
  padding-right: 0px;
}
.modal-fa-icons{
  margin: 0px 5px 0px 5px;

}
i{
  color: #969696;
}
@media screen and (max-width: 770px) {
  #modal-info-container{
    max-width:100%;
  }
  #modal-slider-container{
    max-width:100%;
  }
  .w3-button {
    font-size: 1rem;
  }
  .slides-img {
    width: 100%;
    max-height: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 490px) {

  .w3-button {
    background-color: rgba(0,0,0,0.3)!important;
    color: #bea974 !important;
    font-size: 0.7rem;
  }
  .slides-img {
    height: 250px;
  }
}
