#mosque-container11{
  position: relative;
  padding: 0;
}
#mosquee{
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  filter:opacity(20%) grayscale(80%);
}
#mus-on-mosque-cont11{
  position: absolute;
  left: 0px;
  height: 100%;
  width: 50%;
  bottom: 0px;
  max-height: 100%;
}

#mus-on-mosque-cont11 >img{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 15%;
  bottom: 0%;
  height: 92%;
  width: 64%;
}

#saying-container11{
  position: absolute;
  right: 0px;
  height: 100%;
  width: 55%;
  bottom: 0px;
  max-height: 100%;
  overflow:visible;
  max-width: 55%;
}

#saying-container11 > p{
  position: absolute;
  font-size: 1.6vw;
  top:25%;
  right: 8%;
  max-width: 88%;
  max-height: 100%;
}

#saying-container11 > p:nth-child(2){
    color: #b3a893;
    font-size: 1.2vw;
    right: 80%;
    top:60%;
    width: 30%;
    max-width: 30%;
}
